{% extends "base.html" %}
{% block content %}
<div class="posts-container">
    {% for post in posts %}
    <article class="post-card">
        <div class="post-meta">
            <span class="date">{{ post.date_posted.strftime('%B %d, %Y') }}</span>
            <span class="author">By {{ post.author.username }}</span>
        </div>
        <h2><a href="{{ url_for('post', post_id=post.id) }}">{{ post.title }}</a></h2>
        <p class="preview">{{ post.content[:200] }}...</p>
        <a href="{{ url_for('post', post_id=post.id) }}" class="read-more">Read More</a>
    </article>
    {% endfor %}
</div>
{% endblock %}
